/* App.css */
.app-container {
  display: flex;
  
  flex-direction: column;

  height: 100vh;
}

.search-bar {

  margin-left: 30%;
  margin-right: 30%;

  height: 2%;

  padding: 1%;
  background-color: #ffffff;
  border-radius: 5px;
}

.search-category-container {
  border-radius: 25px;

  margin-left: 20%;
  margin-right: 20%;

  padding-top: 1%;

  background-color: #4f78ff;

  display: flex;
  flex-flow: row;

  margin-top: 0.5%;

}

.category-area {
  border-radius: 25px;

  flex: 20%;
  height: 300px;

  padding-top: 2%;
  padding-bottom: 2%;

  display: flex;
  flex-flow: column;
  gap: 10px;

  align-items: center;
  justify-content: start;

  background-color: #4f78ff;

  overflow: auto;
  scrollbar-width: none;
}

.search-results-area {
  border-radius: 25px;

  flex: 80%;
  height: 500px;

  display: flex;
  flex-flow: column;
  gap: 10px;

  align-items: center;
  justify-content: start;

  background-color: #4f78ff;

  overflow: auto;
  scrollbar-width: none;
}

.category-button {
  height: 100%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;

  box-sizing: border-box;
  cursor: pointer;
}

.result-box-area {
  height: 50px;
  width: 80%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;

  /* box-sizing: border-box; */
  cursor: pointer;
}

.left-logo {
  flex: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  flex: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-logo {
  flex: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
}
span {
  display: block;
  overflow: hidden;
  padding-right:10px;
}
button {
  float: right;
}

.mini-window {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: rgb(181, 200, 253);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
